## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Check if there are null values
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [4]:
# Check if there are duplicate values
application_df.duplicated().sum()

0

In [5]:
#application_df = application_df.drop_duplicates()
#application_df

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "ORGANIZATION", "SPECIAL_CONSIDERATIONS"], axis=1, inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,1,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,1,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,1,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,1,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,1,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,1,1M-5M,36500179,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
STATUS                  2
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts for binning
name_counts = application_df["NAME"].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [14]:
# You may find it helpful to look at NAME value counts >20
name_counts[name_counts>20]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
ARIZONA FEDERATION OF GARDEN CLUBS                   21
ALPHA PHI SIGMA INC                                  21
AMERICAN CHRISTIAN FICTION WRITERS INC               21
FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA      21
OREGON 4-H FOUNDATION                                21
Name: NAME, Length: 118, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
names_to_replace = list(name_counts[name_counts<21].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              22469
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
                                                   ...
FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA       21
ARIZONA FEDERATION OF GARDEN CLUBS                    21
ALPHA PHI SIGMA INC                                   21
AMERICAN IRIS SOCIETY                                 21
FRATERNAL ORDER OF POLICE                             21
Name: NAME, Length: 119, dtype: int64

In [16]:
# Identify the datatypes of the columns
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAME              34299 non-null  object
 1   APPLICATION_TYPE  34299 non-null  object
 2   AFFILIATION       34299 non-null  object
 3   CLASSIFICATION    34299 non-null  object
 4   USE_CASE          34299 non-null  object
 5   STATUS            34299 non-null  int64
 6   INCOME_AMT        34299 non-null  object
 7   ASK_AMT           34299 non-null  int64
 8   IS_SUCCESSFUL     34299 non-null  int64
dtypes: int64(3), object(6)
memory usage: 2.4+ MB

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [18]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop("IS_SUCCESSFUL", axis=1)
y = application_numeric["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Size of data is selected as the number of input features here
input_features = X.shape[1]
print("Input Features:",input_features)

# Size of the output layer is 1 as the target column (IS_SUCESSFUL) is binary
output_layer_size = 1
print("Output Layer Size:",output_layer_size)
 
# The number of hidden neurons here is less than twice the size of the input layer    
hidden_nodes_1 = (input_features * 2) - 1
print("Hidden nodes in layer 1:", hidden_nodes_1)

# The number of hidden neurons here is 2/3 the size of the input layer, plus the size of the output layer
nodes2 = input_features * (2/3)
hidden_nodes_2 = round(nodes2,0) + output_layer_size
print("Hidden nodes in layer 2:", int(hidden_nodes_2))

Input Features: 156
Output Layer Size: 1
Hidden nodes in layer 1: 311
Hidden nodes in layer 2: 105

In [21]:
# Create a Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, activation="tanh", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=output_layer_size, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 311)               48827

 dense_1 (Dense)             (None, 105)               32760

 dense_2 (Dense)             (None, 1)                 106

=================================================================
Total params: 81,693
Trainable params: 81,693
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Create a callback that saves the model's weights every five epochs

# Define checkpoints variables
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback 
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks = [cp_callback])

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.4895 - accuracy: 0.7568
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4676 - accuracy: 0.7703
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4633 - accuracy: 0.7725
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4608 - accuracy: 0.7736
Epoch 5/100
798/804 [============================>.] - ETA: 0s - loss: 0.4588 - accuracy: 0.7766
Epoch 5: saving model to checkpoints\weights.5.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4591 - accuracy: 0.7763
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4574 - accuracy: 0.7750
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4563 - accuracy: 0.7783
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4554 - accuracy: 0.7793
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4544 - accuracy: 0.7793
Epoch 10/100
802/804 [============================>.] - ETA: 0s - loss: 0.4535 - accuracy: 0.7787
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4534 - accuracy: 0.7789
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4533 - accuracy: 0.7790
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4522 - accuracy: 0.7806
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4527 - accuracy: 0.7800
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4524 - accuracy: 0.7791
Epoch 15/100
799/804 [============================>.] - ETA: 0s - loss: 0.4512 - accuracy: 0.7798
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4511 - accuracy: 0.7799
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4508 - accuracy: 0.7814
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4507 - accuracy: 0.7811
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4512 - accuracy: 0.7802
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4504 - accuracy: 0.7801
Epoch 20/100
799/804 [============================>.] - ETA: 0s - loss: 0.4496 - accuracy: 0.7805
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4493 - accuracy: 0.7808
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4492 - accuracy: 0.7812
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4489 - accuracy: 0.7816
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4485 - accuracy: 0.7819
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4483 - accuracy: 0.7822
Epoch 25/100
796/804 [============================>.] - ETA: 0s - loss: 0.4481 - accuracy: 0.7818
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4474 - accuracy: 0.7821
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4479 - accuracy: 0.7828
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4470 - accuracy: 0.7820
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4474 - accuracy: 0.7822
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4472 - accuracy: 0.7824
Epoch 30/100
799/804 [============================>.] - ETA: 0s - loss: 0.4475 - accuracy: 0.7823
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4476 - accuracy: 0.7821
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4470 - accuracy: 0.7831
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4472 - accuracy: 0.7820
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4465 - accuracy: 0.7813
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4462 - accuracy: 0.7828
Epoch 35/100
791/804 [============================>.] - ETA: 0s - loss: 0.4456 - accuracy: 0.7820
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4455 - accuracy: 0.7818
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4461 - accuracy: 0.7831
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4457 - accuracy: 0.7830
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4458 - accuracy: 0.7822
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4453 - accuracy: 0.7831
Epoch 40/100
790/804 [============================>.] - ETA: 0s - loss: 0.4454 - accuracy: 0.7830
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.4452 - accuracy: 0.7833
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4451 - accuracy: 0.7841
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4455 - accuracy: 0.7829
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4449 - accuracy: 0.7837
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4449 - accuracy: 0.7827
Epoch 45/100
792/804 [============================>.] - ETA: 0s - loss: 0.4448 - accuracy: 0.7827
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4443 - accuracy: 0.7832
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4450 - accuracy: 0.7828
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4443 - accuracy: 0.7831
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4440 - accuracy: 0.7825
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4436 - accuracy: 0.7823
Epoch 50/100
790/804 [============================>.] - ETA: 0s - loss: 0.4437 - accuracy: 0.7831
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4443 - accuracy: 0.7830
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4459 - accuracy: 0.7810
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4447 - accuracy: 0.7836
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4439 - accuracy: 0.7849
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4434 - accuracy: 0.7838
Epoch 55/100
803/804 [============================>.] - ETA: 0s - loss: 0.4440 - accuracy: 0.7828
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4442 - accuracy: 0.7827
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7833
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4450 - accuracy: 0.7827
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4437 - accuracy: 0.7830
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4438 - accuracy: 0.7835
Epoch 60/100
800/804 [============================>.] - ETA: 0s - loss: 0.4443 - accuracy: 0.7822
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4440 - accuracy: 0.7825
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4435 - accuracy: 0.7821
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4435 - accuracy: 0.7827
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4427 - accuracy: 0.7832
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4428 - accuracy: 0.7831
Epoch 65/100

800/804 [============================>.] - ETA: 0s - loss: 0.4430 - accuracy: 0.7834
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4429 - accuracy: 0.7835
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4429 - accuracy: 0.7836
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4428 - accuracy: 0.7831
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4431 - accuracy: 0.7835
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4435 - accuracy: 0.7839
Epoch 70/100
795/804 [============================>.] - ETA: 0s - loss: 0.4430 - accuracy: 0.7829
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7830
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7831
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4433 - accuracy: 0.7816
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4431 - accuracy: 0.7824
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4433 - accuracy: 0.7827
Epoch 75/100
793/804 [============================>.] - ETA: 0s - loss: 0.4438 - accuracy: 0.7825
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4436 - accuracy: 0.7825
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4429 - accuracy: 0.7828
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4430 - accuracy: 0.7827
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7834
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4431 - accuracy: 0.7842
Epoch 80/100
803/804 [============================>.] - ETA: 0s - loss: 0.4426 - accuracy: 0.7832
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4426 - accuracy: 0.7832
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4423 - accuracy: 0.7837
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4426 - accuracy: 0.7839
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4430 - accuracy: 0.7837
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4433 - accuracy: 0.7830
Epoch 85/100
794/804 [============================>.] - ETA: 0s - loss: 0.4428 - accuracy: 0.7831
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.4428 - accuracy: 0.7830
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4432 - accuracy: 0.7832
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4429 - accuracy: 0.7836
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4426 - accuracy: 0.7835
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7834
Epoch 90/100
802/804 [============================>.] - ETA: 0s - loss: 0.4428 - accuracy: 0.7832
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4427 - accuracy: 0.7833
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4431 - accuracy: 0.7827
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4427 - accuracy: 0.7828
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4422 - accuracy: 0.7835
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4422 - accuracy: 0.7836
Epoch 95/100
804/804 [==============================] - ETA: 0s - loss: 0.4420 - accuracy: 0.7835
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4420 - accuracy: 0.7835
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4429 - accuracy: 0.7846
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4425 - accuracy: 0.7842
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4426 - accuracy: 0.7840
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4428 - accuracy: 0.7841
Epoch 100/100
798/804 [============================>.] - ETA: 0s - loss: 0.4422 - accuracy: 0.7847
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4424 - accuracy: 0.7844

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4783 - accuracy: 0.7673 - 829ms/epoch - 3ms/step
Loss: 0.4782887101173401, Accuracy: 0.7673469185829163

In [26]:
# Export our model to HDF5 file
nn.save('../Output_files/AlphabetSoupCharity_Optimization4.h5')