## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
#  Import and read the charity_data.csv
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Check if there are null values
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [4]:
# Check if there are duplicate values
application_df.duplicated().sum()

0

In [5]:
#application_df = application_df.drop_duplicates()
#application_df

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Identify the datatypes of the columns
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop("IS_SUCCESSFUL", axis=1)
y = application_numeric["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Size of data is selected as the number of input features here
input_features = X_train_scaled.shape[1]
print("Input Features:",input_features)

# Size of the output layer is 1 as the target column (IS_SUCESSFUL) is binary
output_layer_size = 1
print("Output Layer Size:",output_layer_size)
 
# The number of hidden neurons here is less than twice the size of the input layer    
hidden_nodes_1 = (input_features * 2) - 1
print("Hidden nodes in layer 1:", hidden_nodes_1)

# The number of hidden neurons here is less than twice the size of the input layer    
hidden_nodes_2 = (input_features * 2) - 1
print("Hidden nodes in layer 2:", hidden_nodes_2)

# The number of hidden neurons here is 2/3 the size of the input layer, plus the size of the output layer
nodes3 = input_features * (2/3)
hidden_nodes_3 = round(nodes3,0) + output_layer_size
print("Hidden nodes in layer 3:", int(hidden_nodes_3))

Input Features: 50
Output Layer Size: 1
Hidden nodes in layer 1: 99
Hidden nodes in layer 2: 99
Hidden nodes in layer 3: 34

In [18]:
# Create a Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=output_layer_size, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 99)                5049

 dense_1 (Dense)             (None, 99)                9900

 dense_2 (Dense)             (None, 34)                3400

 dense_3 (Dense)             (None, 1)                 35

=================================================================
Total params: 18,384
Trainable params: 18,384
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Create a callback that saves the model's weights every five epochs

# Define checkpoints variables
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path= 'checkpoints/weights.{epoch}.hdf5'

# Create callback 
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks = [cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5674 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7281
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7312
Epoch 5/100
786/804 [============================>.] - ETA: 0s - loss: 0.5460 - accuracy: 0.7325
Epoch 5: saving model to checkpoints\weights.5.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7333
Epoch 10/100
786/804 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7334
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7355
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7358
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7347
Epoch 15/100
804/804 [==============================] - ETA: 0s - loss: 0.5403 - accuracy: 0.7368
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7362
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7359
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 20/100
785/804 [============================>.] - ETA: 0s - loss: 0.5386 - accuracy: 0.7375
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7377
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7377
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 25/100
796/804 [============================>.] - ETA: 0s - loss: 0.5375 - accuracy: 0.7380
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7380
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 30/100
790/804 [============================>.] - ETA: 0s - loss: 0.5351 - accuracy: 0.7382
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7385
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7394
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 35/100
786/804 [============================>.] - ETA: 0s - loss: 0.5327 - accuracy: 0.7410
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7396
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7394
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 40/100
798/804 [============================>.] - ETA: 0s - loss: 0.5339 - accuracy: 0.7393
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7395
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7405
Epoch 45/100
792/804 [============================>.] - ETA: 0s - loss: 0.5331 - accuracy: 0.7400
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7397
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7402
Epoch 50/100
793/804 [============================>.] - ETA: 0s - loss: 0.5319 - accuracy: 0.7413
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7402
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7401
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7409
Epoch 55/100
791/804 [============================>.] - ETA: 0s - loss: 0.5313 - accuracy: 0.7406
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7405
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7413
Epoch 60/100
789/804 [============================>.] - ETA: 0s - loss: 0.5310 - accuracy: 0.7411
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7414
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7412
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7414
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7413
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7409
Epoch 65/100

794/804 [============================>.] - ETA: 0s - loss: 0.5308 - accuracy: 0.7406
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7404
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7411
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7417
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7416
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7404
Epoch 70/100
803/804 [============================>.] - ETA: 0s - loss: 0.5299 - accuracy: 0.7415
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7419
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7410
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7408
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7410
Epoch 75/100
793/804 [============================>.] - ETA: 0s - loss: 0.5297 - accuracy: 0.7405
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7411
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7409
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7415
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7412
Epoch 80/100
790/804 [============================>.] - ETA: 0s - loss: 0.5289 - accuracy: 0.7411
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7412
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7416
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7408
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7420
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7412
Epoch 85/100
788/804 [============================>.] - ETA: 0s - loss: 0.5293 - accuracy: 0.7425
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7422
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7410
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7413
Epoch 90/100
787/804 [============================>.] - ETA: 0s - loss: 0.5277 - accuracy: 0.7413
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7410
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7415
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7413
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7416
Epoch 95/100
786/804 [============================>.] - ETA: 0s - loss: 0.5284 - accuracy: 0.7417
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7417
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7418
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7419
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7416
Epoch 100/100
795/804 [============================>.] - ETA: 0s - loss: 0.5285 - accuracy: 0.7420
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7417

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6132 - accuracy: 0.7301 - 594ms/epoch - 2ms/step
Loss: 0.6131804585456848, Accuracy: 0.7301457524299622

In [23]:
# Export our model to HDF5 file
nn.save('../Output_files/AlphabetSoupCharity_Optimization1.h5')